name: dev

on:
  push:
    branches: [ main ]
    paths:
      - '*/dev/Dockerfile'
      - '.github/workflows/dev.yml'
  pull_request:
    branches: [ main ]
    paths:
      - '*/dev/Dockerfile'
      - '.github/workflows/dev.yml'

env:
  VERSION_RE: 82dd8673
  VERSION_REM: 277a9d9
  VERSION_BARESIP: eb09b096

jobs:
  libre-dev:
    env:
        IMAGE_NAME: ${{ github.repository }}/libre-dev
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Log into registry
      uses: docker/login-action@v1
      with:
        registry: "ghcr.io"
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build
      run: |
        docker build libre/dev -t libre-dev \
            --build-arg version=${{ env.VERSION_RE }}

    - name: Tag and Push image
      if: github.event_name != 'pull_request'
      run: |
        docker tag libre-dev ghcr.io/${{ env.IMAGE_NAME }}:${{ env.VERSION_RE }}
        docker tag libre-dev ghcr.io/${{ env.IMAGE_NAME }}:latest
        docker push ghcr.io/${{ env.IMAGE_NAME }}:${{ env.VERSION_RE }}
        docker push ghcr.io/${{ env.IMAGE_NAME }}:latest

  librem-dev:
    env:
        IMAGE_NAME: ${{ github.repository }}/librem-dev
    needs: [ "libre-dev" ]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Log into registry
      uses: docker/login-action@v1
      with:
        registry: "ghcr.io"
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build
      run: |
        docker build librem/dev -t librem-dev \
            --build-arg version=${{ env.VERSION_REM }}

    - name: Tag and Push image
      if: github.event_name != 'pull_request'
      run: |
        docker tag librem-dev ghcr.io/${{ env.IMAGE_NAME }}:${{ env.VERSION_REM }}
        docker tag librem-dev ghcr.io/${{ env.IMAGE_NAME }}:latest
        docker push ghcr.io/${{ env.IMAGE_NAME }}:${{ env.VERSION_REM }}
        docker push ghcr.io/${{ env.IMAGE_NAME }}:latest

  libbaresip-dev:
    env:
        IMAGE_NAME: ${{ github.repository }}/libbaresip-dev
    needs: [ "librem-dev" ]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Log into registry
      uses: docker/login-action@v1
      with:
        registry: "ghcr.io"
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build
      run: |
        docker build libbaresip/dev -t libbaresip-dev \
          --build-arg version=${{ env.VERSION_BARESIP }}

    - name: Tag and Push image
      if: github.event_name != 'pull_request'
      run: |
        docker tag libbaresip-dev ghcr.io/${{ env.IMAGE_NAME }}:${{ env.VERSION_BARESIP }}
        docker tag libbaresip-dev ghcr.io/${{ env.IMAGE_NAME }}:latest
        docker push ghcr.io/${{ env.IMAGE_NAME }}:${{ env.VERSION_BARESIP }}
        docker push ghcr.io/${{ env.IMAGE_NAME }}:latest
